
::selection {
    color: beige;
    background: cornflowerblue;
}

.wrapper__user {
    width: 2rem;
    white-space: nowrap;
}

.wrapper__user a {
    text-decoration: none;
    color: black;


}

.wrapper__user a:hover {
    text-shadow: #FC0 1px 0 10px;
    font-weight: bold;
}
